<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="com.dong.dao.Blog">
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="AUTHOR" property="author" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
        <result column="TYPEID" property="typeId" jdbcType="VARCHAR"/>
        <result column="TYPENAME" property="typeName" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID,AUTHOR,TITLE,CONTENT,TYPENAME,CREATETIME
  </sql>


    <select id="getAllBlog" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tbl_blog LEFT JOIN tbl_type ON tbl_blog.typeId = tbl_type.TypeId WHERE author = #{username} ORDER BY createTime DESC
    </select>

    <insert id="createBlog" parameterType="com.dong.dao.Blog">
    INSERT INTO tbl_blog (id,author,title,content,typeId,createTime) VALUES (#{id,jdbcType = VARCHAR},#{author,jdbcType = VARCHAR},#{title,jdbcType =
     VARCHAR},#{content,jdbcType = VARCHAR},#{typeId,jdbcType = TINYINT},#{createTime,jdbcType=TIMESTAMP})
  </insert>

    <select id="getBlogById" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tbl_blog LEFT JOIN tbl_type ON tbl_blog.typeId = tbl_type.TypeId WHERE tbl_blog.id = #{id} limit 1
    </select>
</mapper>