
<!DOCTYPE html>
<html lang="zh-CN" ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>



    <title>Justified Nav Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/common/css/bootstrap.css" rel="stylesheet" th:href="@{common/css/bootstrap.css}"/>
    <script th:src="@{common/jquery/jquery-3.1.1.js}" src="../static/common/jquery/jquery-3.1.1.js"></script>
    <script th:src="@{common/js/angular.min.js}" src="../static/common/js/angular.min.js"></script>
    <script th:src="@{index.js}" src="../static/index.js"></script>
</head>

<body>

<div class="container" ng-controller="blogInfosController">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron" style="margin-top: 20px">
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row" >
        <div class="col-lg-4" ng-repeat="data in datas">
            <h2><span ng-bind="data.title"></span></h2>
            <span class="label label-default" ng-bind="data.type"></span>
            <p><span ng-bind="data.content"></span></p>
            <p><a href="#" class="btn btn-primary">View details &raquo;</a></p>
        </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
    </footer>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
